
<div class="text-center">

  {{!-- Reviews will be displayed beside the book, so display reviews attached to this book_id --}}
     
 <div class="container-book">
        <div class="book-info">
            {{!-- <img src="path/to/your/book-cover.jpg" alt="Book cover"> --}}
            <h1>{{book.title}}</h1>
        </div>
        {{!-- Use each reviews as |review| to loop over every review--}}
        <div class="reviews">
          {{#each reviews as |review|}}
            <div class="review">
                <div class="rating">{{review.rating}}/5</div>
                <div class="username">{{reader.name}}</div>
                <div class="review-text">
                    {{review.review_text}}
                </div>
            </div>
          {{/each}}
        </div>
    </div>
</div>

