{{!-- Inputs for add a book and and review --}}

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    {{!-- Create new book with a Review --}} 
    <h3>Create a new book with a review:</h3>

    <form class="form new-review-form">
      
      <div class="form-group">
        <label for="book-title">Book title:</label>
        <input class="form-input" type="text" id="book-title" name="book-title" />
      </div>

      <div class="form-group">
        <label for="book-author">Book author:</label>
        <input class="form-input" type="text" id="book-author" name="book-author" />
      </div>

      <div class="form-group">
        <label for="review-text">Your review:</label>
        <input class="form-input" type="text" id="review-text" name="review-text" />
      </div>

      <div class="form-group">
        <label for="review-rating">Your rating:</label>
        <input class="form-input" type="number" id="review-rating" name="review-rating" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>


<script src='/js/profileAddBook.js'></script>
