{{!-- Display the options of the profile for a reader that is LOGGED IN --}}

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Click one option</h3>
    <form class="form profile-buttons-form">
        <div class="Add-book">
            <button class="btn btn-primary" id="btn-addbook" type="submit">Add a Book</button>
        </div>
        <div class="Add-review">
            <button class="btn btn-primary" id="btn-addreview" type="submit">Add a Review</button>
        </div>
        <div class="Delete-review">
            <button class="btn btn-primary" id="btn-deletereview" type="submit">Delete a Review</button>
        </div>
    </form>
  </div>
</div>

<script src='/js/profile.js'></script>
