header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}


.container-book {
  display: flex;
}
.book-info {
  flex: 1;
  margin-right: 20px;
  height: 300px;
  background-color: #9db59d;
  display: flex;
  border-radius: 10px;
  border-left: 10px solid #6e1212;
}


.book-info h1 {
  margin: auto;
  margin-top: 50px;
  font-family: cursive;
  transform: rotate(-6deg);
}

.reviews {
  flex: 2;
  margin-left: 20px;
}
.add-review {
  margin-bottom: 10px;
}

.review {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.rating {
  font-weight: bold;
  font-size: 1.2em;
}
.username {
  font-size: 1em;
  color: gray;
}
.review-text {
  margin-top: 10px;
  text-align: left;
}
