header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

header {
  background-color: #000000;
  color: white;
  border-bottom: 3px solid white;
  text-align: center;
}

header h1 {
  display: inline-block;
  font-family: Rockwell;
}

header nav {
  margin-top: 15px;
  float: right;
}

header a {
  color: white;
}

header button.no-button {
  color: white;
}

.bg-black-intro {
  background-color: black;
  color: white;
}

.login, .logout {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
}


.backdrop {
  height: 110%;
  width: 100vw;
  position: absolute;
  background: black;
  z-index: 1;
  opacity: 0.7;
}

.modal {
  position: absolute;
  z-index: 2;
  background: white;
  padding: 20px;
  width: 50%;
  left: 25%;
  top: 30%;
  border-radius: 5px;
}

.modal .modal-close {
  float: right;
}

.modal .actions {
  text-align: right;
}

.close-modal {
  display: none;
}

.open-modal {
  display: block;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.container-book {
  display: flex;
}
.book-info {
  flex: 1;
  margin-right: 20px;
  height: 300px;
  background-color: #9db59d;
  display: flex;
  border-radius: 10px;
  border-left: 10px solid #6e1212;
}

.book-info h1 {
  margin: auto;
  margin-top: 50px;
  font-family: cursive;
  transform: rotate(-6deg);
}

.review {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: 'montserrat';
}

.homepageReview {
  
}

.reviews {
  flex: 2;
  margin-left: 20px;
  font-family: 'montserrat light';
}
.add-review {
  margin-bottom: 10px;
}

.rating {
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'Montserrat';
}
.username {
  font-size: 1em;
  color: gray;
}
.review-text {
  margin-top: 10px;
  text-align: left;
}
